<%- include("partials/header.ejs") %>
    <h2>Create Your Blog Post</h2>
    <div class="form-wrapper">
        <form action="/submit" method="POST" class="form">
            <input type="text" name="title" placeholder="Enter title" value="<%= formData ? formData.title : '' %>" />
            <textarea name="content" placeholder="Start writing here"><%= formData ? formData.content : '' %></textarea>
            <input type="text" name="img" placeholder="Enter image filename (without extension)"
                value="<%= formData ? formData.img : '' %>" />
            <input type="submit" value="Submit">
        </form>
    </div>

    <%- include("partials/footer.ejs") %>