<%- include("partials/header.ejs") %>
    <div class="card">
        <div class="blog">
            <div class="header">
                <h3>Tesla Unveils Autonomous Delivery</h3>
            </div>
            <div class="info">
                <p>Tesla has successfully completed the world’s first autonomous vehicle delivery, showcasing its
                    advanced
                    self - driving
                    capabilities. Tesla shares sore high after last week Trump-Elon feud...</p>
            </div>
        </div>
        <div class="img">
            <img src="images/tesla.jpg" alt="Tesla">
        </div>
    </div>
    <div class="card">
        <div class="blog">
            <div class="header">
                <h3>Meta's AI Race</h3>
            </div>
            <div class="info">
                <p>Meta's preparation to lead in the AI race by hiring OpenAI's talent with a joining bonus of whopping
                    $100 Million</p>
            </div>
        </div>
        <div class="img">
            <img src="images/meta.png" alt="Meta">
        </div>
    </div>
    <% if (formData) { %>
        <div class="card">
            <div class="blog">
                <div class="header">
                    <h3>
                        <%= formData.title %>
                    </h3>
                </div>
                <div class="info">
                    <p>
                        <%= formData.content %>
                    </p>
                </div>
            </div>
            <div class="img">
                <img src="images/<%= formData.img %>.png" alt="<%= formData.title %>">
            </div>
            <div class="controls">
                <form action="/edit" method="POST" style="display:inline;">
                    <button type="submit" id="edit">Edit</button>
                </form>
                <form action="/delete" method="POST" style="display:inline;">
                    <button type="submit" id="delete">Delete</button>
                </form>
            </div>
        </div>
        <% } %>
            <%- include("partials/footer.ejs") %>