<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mrunal's Reads</title>
    <link rel="stylesheet" href="styles/main.css" />
</head>

<body>
    <div class="container">
        <header>
            <h1>Mrunal’s Reads</h1>
            <p>Short summary of each book that I’ve read</p>
        </header>

        <div class="controls" style="margin-bottom: 1.5rem;">
            <input type="text" id="search-bar" placeholder="Search by book title..." />
            <label for="date-filter">Date:</label>
            <input type="date" id="date-filter" />
            <label for="rating-filter">Rating:</label>
            <select id="rating-filter">
                <option value="">All</option>
                <% for (let i=10; i>= 1; i--) { %>
                    <option value="<%= i %>">
                        <%= i %>
                    </option>
                    <% } %>
            </select>
        </div>

        <section id="books-list">
            <% for (let book of books) { %>
                <div class="book-card">
                    <img class="cover-img" src="<%= book.coverUrl %>" alt="Book Cover" />
                    <div class="book-info">
                        <h2 class="book-title">
                            <%= book.title %>
                        </h2>
                        <div class="button">
                            <button class="edit-button">Edit</button>
                            <button class="delete-button">Delete</button>
                        </div>
                        <p>
                            <strong>Date Read:</strong>
                            <%= book.date %> |
                                <strong>My rating:</strong>
                                <%= book.rating %>/10
                        </p>
                        <p>
                            <%= book.summary %>
                        </p>
                    </div>
                </div>
                <% } %>
        </section>
    </div>

    <script src="scripts/script.js"></script>
</body>

</html>